---

---

<style>
    .MsoNormal {
        padding-bottom: 10px;
    }
    b,
    b span {
        color: #0a169a;
    }
    h2 {
        font-size: 1.5rem;
        margin-top: 3%;
    }
    ol {
        list-style: lower-alpha;
        margin: 0;
        padding-left: 40px;
    }
    .bg-1 {
        background-image: url(/hero.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
    .bg-2 {
        background-image: url(/favicon.svg);
        background-size: 20%;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        /* background-blend-mode: soft-light; */
    }
</style>

<section id="contrato" class="bg-xp-white bg-2">
    <div
        id=""
        style="word-wrap:break-word"
        class="max-w-[1300px] m-auto py-[50px] px-8 font-work"
    >
        <div class="WordSection1">
            <h1
                class="MsoNormal text-[2rem]"
                style="text-align:center;line-height:normal;vertical-align:baseline"
            >
                <b
                    ><span style=""
                        >Política de tratamiento y protección de datos
                        personales
                    </span></b
                >
            </h1>
            <p
                class="MsoNormal text-[2rem]"
                style="text-align:center;line-height:normal;vertical-align:baseline"
            >
                <b><span style="">XPAND GROUP S.A.S</span></b>
            </p>
            <p
                class="MsoNormal"
                style="text-align:center;line-height:normal;vertical-align:baseline"
            >
                <b><span style="">&nbsp;</span></b>
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >Dando cumplimiento a lo dispuesto en la Ley estatutaria
                    1581 de 2012 y a su Decreto&nbsp;Reglamentario 1377 de 2013, <b
                        >XPAND GROUP S.A.S</b
                    > adopta la presente&nbsp;política para el&nbsp;tratamiento de
                    datos personales, la cual será informada a todos los&nbsp;titulares
                    de los datos recolectados o que en el futuro se obtengan en el
                    ejercicio de las&nbsp;actividades académicas, culturales, comerciales
                    o laborales.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >XPAND GROUP S.A.S manifiesta que garantiza los derechos de
                    la&nbsp;privacidad, la intimidad, el buen nombre, en el
                    tratamiento de los datos personales, y en&nbsp;consecuencia
                    todas sus actuaciones se regirán por los principios de
                    legalidad, finalidad,&nbsp;libertad, veracidad o calidad,
                    transparencia, acceso y circulación restringida,
                    seguridad&nbsp;y confidencialidad.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >Todas las personas que, en desarrollo de diferentes
                    actividades contractuales,&nbsp;comerciales, laborales,
                    entre otras, sean permanentes u ocasionales, llegaran
                    a&nbsp;suministrar a <b>XPAND GROUP S.A.S</b> cualquier tipo
                    de información o dato&nbsp;personal, podrá conocerla, actualizarla
                    y rectificarla.</span
                >
            </p>

            <h2
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <b
                    ><span style=""
                        >I. IDENTIFICACIÓN DEL RESPONSABLE DEL TRATAMIENTO</span
                    ></b
                >
            </h2>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <b><span style="">NOMBRE DE LA EMPRESA:</span></b><span style=""
                    >&nbsp;XPAND GROUP S.A.S que en adelante se&nbsp;denominará
                    LA EMPRESA, empresa privada, creada por documento privado
                    del 20 de septiembre de 2016, bajo el NIT 901012073-8 de la
                    Cámara de Comercio de Medellín.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <b><span style="">DOMICILIO Y DIRECCIÓN:&nbsp;</span></b><span
                    style=""
                    >&nbsp;LA EMPRESA tiene su domicilio en la ciudad de
                    Medellín,&nbsp;y su sede principal se encuentra ubicada en
                    la Carrera 48A # 16 Sur 86, Medellín,
                    Antioquia,&nbsp;Colombia.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <b><span style="">CORREO ELECTRÓNICO:&nbsp;</span></b><span
                    style="">administrativa@xpandgroup.co</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <b><span style="">TELÉFONO:</span></b><span style=""
                    >&nbsp;3006871949</span
                >
            </p>

            <h2
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <b><span style="">II. MARCO LEGAL</span></b>
            </h2>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >Constitución Política, artículo 15. Ley 1266 de
                    2008,&nbsp;Ley 1581 de 2012, Decretos Reglamentarios 1727 de
                    2009 y 2952 de 2010, Decreto Reglamentario parcial 1377 de
                    2013, Sentencias C – 1011 de 2008, y C – 748 del 2011, de la
                    Corte Constitucional.</span
                >
            </p>

            <h2
                class="MsoNormal"
                style="line-height:normal;vertical-align:baseline"
            >
                <b><span style="">III. ÁMBITO DE APLICACIÓN</span></b>
            </h2>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >La presente política será aplicable a los datos personales
                    registrados en cualquier base&nbsp;de datos de LA EMPRESA
                    cuyo titular sea una persona natural.</span
                >
            </p>

            <h2
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <b><span style="">IV. DEFINICIONES</span></b>
            </h2>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >Para los efectos de la presente política y en concordancia
                    con la normatividad vigente&nbsp;en materia de protección de
                    datos personales, se tendrán en cuenta las
                    siguientes&nbsp;definiciones:</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    ><br />
                    <b>Autorización:</b>&nbsp;Consentimiento previo, expreso e
                    informado del Titular para llevar a cabo&nbsp;el Tratamiento
                    de datos personales.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <b><span style="">Aviso de privacidad:&nbsp;</span></b><span
                    style=""
                    >Comunicación verbal o escrita generada por el
                    responsable,&nbsp;dirigida al Titular para el tratamiento de
                    sus datos personales, mediante la cual se le&nbsp;informa
                    acerca de la existencia de las políticas de tratamiento de
                    información que le&nbsp;serán aplicables, la forma de
                    acceder a las mismas y las finalidades del tratamiento
                    que&nbsp;se pretende dar a los datos personales.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <b><span style="">Base de Datos:&nbsp;</span></b><span style=""
                    >Conjunto organizado de datos personales que sea objeto
                    de&nbsp;tratamiento.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <b><span style="">Causa habiente:</span></b><span style=""
                    >&nbsp;persona que ha sucedido a otra por causa del
                    fallecimiento de ésta&nbsp;(heredero).</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <b><span style="">Dato personal:&nbsp;</span></b><span style=""
                    >Cualquier información vinculada o que pueda asociarse a una
                    o varias&nbsp;personas naturales determinadas o
                    determinables.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <b><span style="">Dato público:</span></b><span style=""
                    >&nbsp;Es el dato que no sea semiprivado, privado o
                    sensible. Son considerados&nbsp;datos públicos, entre otros,
                    los datos relativos al estado civil de las personas, a su
                    profesión u oficio ya su calidad de comerciante o de
                    servidor público. Por su naturaleza,&nbsp;los datos públicos
                    pueden estar contenidos, entre otros, en registros públicos,
                    documentos públicos, gacetas y boletines oficiales y
                    sentencias judiciales debidamente&nbsp;ejecutoriadas que no
                    estén sometidas a reserva.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <b><span style="">Datos sensibles:&nbsp;</span></b><span
                    style=""
                    >Se entiende por datos sensibles aquellos que afectan la
                    intimidad del&nbsp;titular o cuyo uso indebido puede generar
                    su discriminación, tales como que revelen el origen racial o
                    étnico, la orientación política, las convicciones religiosas
                    o filosóficas, la&nbsp;pertenencia a sindicatos,
                    organizaciones sociales, de derechos humanos o que promueva
                    intereses de cualquier partido político o que garanticen los
                    derechos y&nbsp;garantías de partidos políticos de
                    oposición, así como los datos relativos a la salud, a la
                    vida sexual, y los datos biométricos.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <b><span style="">Encargado del Tratamiento:&nbsp;</span></b
                ><span style=""
                    >Persona natural o jurídica, pública o privada, que por
                    sí&nbsp;misma o en asocio con otros, realice el Tratamiento
                    de datos personales por cuenta del responsable del y
                    tratamiento.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <b><span style="">Responsable del Tratamiento:&nbsp;</span></b
                ><span style=""
                    >Persona natural o jurídica, pública o privada, que
                    por&nbsp;sí misma o en asocio con otros, decida sobre la
                    base de datos y/o el Tratamiento de los datos.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <b><span style="">Titular:</span></b><span style=""
                    >&nbsp;Persona natural cuyos datos personales sean objeto de
                    Tratamiento.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <b><span style="">Tratamiento:</span></b><span style=""
                    >&nbsp;Cualquier operación o conjunto de operaciones sobre
                    datos personales, tales como la recolección, almacenamiento,
                    uso, circulación o supresión.&nbsp;Transferencia:&nbsp;la
                    transferencia de datos tiene lugar cuando el responsable
                    y/o&nbsp;encargado del tratamiento de datos personales,
                    ubicado en Colombia, envía la&nbsp;información o los datos
                    personales a un receptor, que a su vez es responsable
                    del&nbsp;tratamiento y se encuentra dentro o fuera del país.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <b><span style="">Transmisión:&nbsp;</span></b><span style=""
                    >tratamiento de datos personales que implica la comunicación
                    de los mismos dentro o fuera del territorio de la República
                    de Colombia cuando tenga por objeto la realización de un
                    tratamiento por el encargado por cuenta del responsable.</span
                >
            </p>

            <h2
                class="MsoNormal"
                style="line-height:normal;vertical-align:baseline"
            >
                <b><span style="">V. PRINICIPIOS</span></b>
            </h2>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >Para efectos de garantizar la protección de datos
                    personales, LA EMPRESA aplicará de&nbsp;manera armónica e
                    integral los siguientes principios, a la luz de los cuales
                    se deberá&nbsp;realizar el tratamiento, transferencia y
                    transmisión de datos personales:</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >Principio de legalidad en materia de Tratamiento de
                    datos:&nbsp;El tratamiento de datos&nbsp;es una actividad
                    reglada, la cual deberá estar sujeta a las disposiciones
                    legales vigentes&nbsp;y aplicables rigen el tema.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <b><span style="">Principio de finalidad:&nbsp;</span></b><span
                    style=""
                    >la actividad del tratamiento de datos personales que
                    realice LA&nbsp;EMPRESA o a la cual tuviere acceso,
                    obedecerán a una finalidad legítima en&nbsp;consonancia con
                    la Constitución Política de Colombia, la cual deberá ser
                    informada al&nbsp;respectivo titular de los datos
                    personales.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    ><br />
                    <b>Principio de libertad:&nbsp;</b>el tratamiento de los
                    datos personales sólo puede realizarse con&nbsp;el
                    consentimiento, previo, expreso e informado del Titular. Los
                    datos personales no podrán ser obtenidos o divulgados sin
                    previa autorización, o en ausencia de mandato&nbsp;legal,
                    estatutario, o judicial que releve el consentimiento.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    ><br />
                    <b>Principio de veracidad o calidad:</b> la información sujeta
                    a Tratamiento de datos&nbsp;personales debe ser veraz, completa,
                    exacta, actualizada, comprobable y comprensible.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >Se prohíbe el Tratamiento de datos parciales, incompletos,
                    fraccionados o que induzcan&nbsp;a error.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <b><span style="">Principio de transparencia:&nbsp;</span></b
                ><span style=""
                    >En el tratamiento de datos personales, LA
                    EMPRESA&nbsp;garantizará al Titular su derecho de obtener en
                    cualquier momento y sin restricciones,&nbsp;información
                    acerca de la existencia de cualquier tipo de información o
                    dato personal que sea de su interés o titularidad.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    ><br />
                    <b>Principio de acceso y circulación restringida:&nbsp;</b
                    >El tratamiento de datos personales se sujeta a los límites
                    que se derivan de la naturaleza de éstos, de las
                    disposiciones de la&nbsp;ley y la Constitución. En
                    consecuencia, el tratamiento sólo podrá hacerse por
                    personas&nbsp;autorizadas por el titular y/o por las
                    personas previstas en la ley. Los datos
                    personales,&nbsp;salvo la información pública, no podrán
                    estar disponibles en internet u otros medios
                    de&nbsp;divulgación o comunicación masiva, salvo que el
                    acceso sea técnicamente controlable&nbsp;para brindar un
                    conocimiento restringido sólo a los titulares o terceros
                    autorizados&nbsp;conforme a la ley. Para estos propósitos la
                    obligación de LA EMPRESA, será de medio.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <b><span style="">Principio de seguridad:&nbsp;</span></b><span
                    style=""
                    >la información sujeta a tratamiento por LA EMPRESA,
                    se&nbsp;deberá manejar con las medidas técnicas, humanas y
                    administrativas que sean<br /> necesarias para otorgar seguridad
                    a los registros evitando su adulteración, pérdida,&nbsp;consulta,
                    uso o acceso no autorizado o fraudulento.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    ><br />
                    <b>Principio de confidencialidad:&nbsp;</b>Todas las
                    personas que en LA EMPRESA, administren,&nbsp;manejen,
                    actualicen o tengan acceso a informaciones de cualquier tipo
                    que se encuentre en Bases de Datos, están obligadas a
                    garantizar la reserva de la información, por lo que&nbsp;se
                    comprometen a conservar y mantener de manera estrictamente
                    confidencial y no revelar a terceros, toda la información
                    que llegaren a conocer en la ejecución y ejercicio&nbsp;de
                    sus funciones; salvo cuando se trate de actividades
                    autorizadas expresamente por&nbsp;la ley de protección de
                    datos. Esta obligación persiste y se mantendrá inclusive
                    después&nbsp;de finalizada su relación con alguna de las
                    labores que comprende el Tratamiento.</span
                >
            </p>

            <h2
                class="MsoNormal"
                style="line-height:normal;vertical-align:baseline"
            >
                <b
                    ><span style=""
                        >VI. DERECHOS DEL TITULAR DE LA INFORMACIÓN</span
                    ></b
                >
            </h2>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >De acuerdo con lo contemplado por la normatividad vigente
                    aplicable en materia de&nbsp;protección de datos, los
                    siguientes son los derechos de los titulares de los datos<br
                    /> personales:</span
                >
            </p>
            <ol type="a">
                <li>
                    Acceder, conocer, actualizar y rectificar sus datos
                    personales frente a LA EMPRESA en su condición de
                    responsable del tratamiento. Este derecho se podrá ejercer,
                    entre otros, frente a datos parciales, inexactos,
                    incompletos, fraccionados, que induzcan a&nbsp;error, o
                    aquellos cuyo tratamiento esté expresamente prohibido o no
                    haya sido&nbsp;autorizado.
                </li>
                <li>
                    Solicitar prueba de la autorización otorgada a LA EMPRESA
                    para el tratamiento de&nbsp;datos, mediante cualquier medio
                    válido, salvo en los casos en que no es necesaria&nbsp;la
                    autorización&nbsp;1.
                </li>
                <li>
                    Ser informado por LA EMPRESA, previa solicitud, respecto del
                    uso que le ha dado a&nbsp;sus datos personales.
                </li>
                <li>
                    Presentar ante la Superintendencia de Industria y Comercio,
                    o la entidad que hiciere sus veces, quejas por infracciones
                    a lo dispuesto en la ley 1581 de 2012 y las demás normas que
                    la modifiquen, adicionen o complementen, previo trámite de
                    consulta o&nbsp;requerimiento ante LA EMPRESA.
                </li>
                <li>
                    Revocar la autorización y/o solicitar la supresión del dato
                    cuando en el Tratamiento&nbsp;no se respeten los principios,
                    derechos y garantías constitucionales y legales.
                </li>
                <li>
                    Acceder en forma gratuita a sus datos personales que hayan
                    sido objeto de&nbsp;tratamiento, al menos una vez cada mes
                    calendario, y cada vez que existan&nbsp;modificaciones
                    sustanciales de la presente política que motiven nuevas
                    consultas.
                </li>
            </ol>
            <br />
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style="">Estos derechos podrán ser ejercidos por:</span>
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style="Symbol;">·</span><span style=""
                    >&nbsp;El titular, quien deberá acreditar su identidad en
                    forma suficiente por los distintos&nbsp;medios que le ponga
                    a disposición LA EMPRESA.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style="Symbol;">·</span><span style=""
                    >&nbsp;Los causahabientes del titular, quienes deberán
                    acreditar tal calidad.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style="Symbol;">·</span><span style=""
                    >&nbsp;El representante y/o apoderado del titular, previa
                    acreditación de la representación&nbsp;o apoderamiento.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style="Symbol;">·</span><span style=""
                    >&nbsp;Otro a favor o para el cual el titular hubiere
                    estipulado.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >Derechos de los niños y adolescentes&nbsp;en el tratamiento
                    de datos personales se asegurará el respeto a los derechos
                    prevalentes de los menores.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="margin-left:35.4pt;text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <i
                    ><span style=""
                        >Ley 1581 de 2012. Artículo 10. Casos en que no es
                        necesaria la autorización. La autorización del Titular
                        no será necesaria cuando se trate de:</span
                    ></i
                >
            </p>
            <p
                class="MsoListParagraphCxSpFirst"
                style="margin-left:53.4pt;text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <i
                    ><span style=""
                        >a)<span style="font:7.0pt "
                            >&nbsp;&nbsp;&nbsp;&nbsp;
                        </span></span
                    ></i
                ><i
                    ><span style=""
                        >Información requerida por una entidad pública o
                        administrativa en ejercicio de sus funciones
                        legales&nbsp;o por orden judicial.</span
                    ></i
                >
            </p>
            <p
                class="MsoListParagraphCxSpMiddle"
                style="margin-left:53.4pt;text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <i
                    ><span style=""
                        >b)<span style="font:7.0pt "
                            >&nbsp;&nbsp;&nbsp;&nbsp;
                        </span></span
                    ></i
                ><i><span style="">Datos de naturaleza pública.</span></i>
            </p>
            <p
                class="MsoListParagraphCxSpMiddle"
                style="margin-left:53.4pt;text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <i
                    ><span style=""
                        >c)<span style="font:7.0pt "
                            >&nbsp;&nbsp;&nbsp;&nbsp;
                        </span></span
                    ></i
                ><i
                    ><span style="">Casos de urgencia médica o sanitaria.</span
                    ></i
                >
            </p>
            <p
                class="MsoListParagraphCxSpMiddle"
                style="margin-left:53.4pt;text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <i
                    ><span style=""
                        >d)<span style="font:7.0pt "
                            >&nbsp;&nbsp;&nbsp;&nbsp;
                        </span></span
                    ></i
                ><i
                    ><span style=""
                        >Tratamiento de información autorizado por la ley para
                        fines históricos, estadísticos o científicos.</span
                    ></i
                >
            </p>
            <p
                class="MsoListParagraphCxSpLast"
                style="margin-left:53.4pt;text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >e)<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><i
                    ><span style=""
                        >Datos relacionados con el Registro Civil de las
                        Personas.<br /> Quien acceda a los datos personales sin que
                        medie autorización previa deberá en todo caso cumplir con&nbsp;las
                        disposiciones contenidas en la presente ley.</span
                    ></i
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >Queda proscrito el tratamiento de datos personales de
                    menores, salvo aquellos datos&nbsp;que sean de naturaleza
                    pública, y en este caso el tratamiento deberá cumplir con
                    los&nbsp;siguientes parámetros:</span
                >
            </p>

            <ol>
                <li>Responder y respetar el interés superior de los menores.</li>
                <li>Asegurar el respeto de los derechos fundamentales de los
                    menores.&nbsp;Es tarea del Estado y las entidades educativas
                    de todo tipo proveer información y&nbsp;capacitar a los
                    representantes legales y tutores sobre los eventuales
                    riesgos a los que&nbsp;se enfrentan los niños, niñas y
                    adolescentes respecto del Tratamiento indebido de
                    sus&nbsp;datos personales, y proveer de conocimiento acerca
                    del uso responsable y seguro por&nbsp;parte de niños, niñas
                    y adolescentes de sus datos personales, su derecho a la
                    privacidad&nbsp;y protección de su información personal y la
                    de los demás.</li>
            </ol>

            <h2
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <b
                    ><span style=""
                        >VII. DEBERES DE LA EMPRESA COMO RESPONSABLE Y ENCARGADA
                        DEL TRATAMIENTO DE LOS DATOS PERSONALES&nbsp;LA EMPRESA</span
                    ></b
                >
            </h2>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >Se reconoce la titularidad que de los datos personales
                    ostentan las personas&nbsp;y en consecuencia ellas de manera
                    exclusiva pueden decidir sobre los mismos.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    ><br /> Por lo tanto, LA EMPRESA utilizará los datos personales
                    para el cumplimiento de las&nbsp;finalidades autorizadas expresamente
                    por el titular o por las normas vigentes.<br /> En el tratamiento
                    y protección de datos personales, LA EMPRESA tendrá los siguientes
                    deberes, sin perjuicio de otros previstos en las disposiciones
                    que regulen o lleguen a regular esta materia:</span
                >
            </p>
            <ol>
                <li>Garantizar al titular, en todo tiempo, el pleno y efectivo
                    ejercicio del derecho de&nbsp;hábeas data.</li>
                <li>Solicitar y conservar, copia de la respectiva autorización
                    otorgada por el titular para&nbsp;el tratamiento de datos
                    personales.</li>
                <li>Informar debidamente al titular sobre la finalidad de la
                    recolección y los derechos&nbsp;que le asisten en virtud de
                    la autorización otorgada.</li>
                <li>Conservar la información bajo las condiciones de seguridad
                    necesarias para impedir&nbsp;su adulteración, pérdida,
                    consulta, uso o acceso no autorizado o fraudulento.</li>
                <li>Garantizar que la información sea veraz, completa, exacta,
                    actualizada,&nbsp;comprobable y comprensible.</li>
                <li>Actualizar oportunamente la información, atendiendo de esta
                    forma todas las&nbsp;novedades respecto de los datos del
                    titular. Adicionalmente, se deberán&nbsp;implementar todas
                    las medidas necesarias para que la información se
                    mantenga&nbsp;actualizada.</li>
                <li>Rectificar la información cuando sea incorrecta y comunicar
                    lo pertinente.</li>
                <li>Respetar las condiciones de seguridad y privacidad de la
                    información del titular.</li>
                <li>Tramitar las consultas y reclamos formulados en los
                    términos señalados por la ley</li>
                <li>Identificar cuando determinada información se encuentra en
                    discusión por parte del&nbsp;titular.</li>
                <li>Informar a solicitud del titular sobre el uso dado a sus
                    datos.</li>
                <li>Informar a la autoridad de protección de datos cuando se
                    presenten violaciones a&nbsp;los códigos de seguridad y
                    existan riesgos en la administración de la
                    información&nbsp;de los titulares.</li>
                <li>Cumplir los requerimientos e instrucciones que imparta la
                    Superintendencia de&nbsp;Industria y Comercio sobre el tema
                    en particular.</li>
                <li>Usar únicamente datos cuyo tratamiento esté previamente
                    autorizado de&nbsp;conformidad con lo previsto en la ley
                    1581 de 2012.</li>
                <li>Velar por el uso adecuado de los datos personales de los
                    niños, niñas y&nbsp;adolescentes, en aquellos casos en que
                    se entra autorizado el tratamiento de sus&nbsp;datos.</li>
                <li>Registrar en la base de datos la leyenda «reclamo en
                    trámite» en la forma en que&nbsp;se regula en la ley.</li>
                <li>Insertar en la base de datos la leyenda «información en
                    discusión judicial» una vez&nbsp;notificado por parte de la
                    autoridad competente sobre procesos
                    judiciales&nbsp;relacionados con la calidad del dato
                    personal.</li>
                <li>Abstenerse de circular información que esté siendo
                    controvertida por el titular y cuyo&nbsp;bloqueo haya sido
                    ordenado por la Superintendencia de Industria y Comercio.</li>
                <li>Permitir el acceso a la información únicamente a las
                    personas que pueden tener&nbsp;acceso a ella.</li>
                    <li>Usar los datos personales del titular sólo para aquellas
                        finalidades para las que se&nbsp;encuentre facultada
                        debidamente y respetando en todo caso la
                        normatividad&nbsp;vigente sobre protección de datos
                        personales.</li>
            </ol>

            <h2
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <b
                    ><span style=""
                        >VIII. AUTORIZACIÓN Y CONSENTIMIENTO DEL TITULAR</span
                    ></b
                >
            </h2>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >LA EMPRESA requiere del con sentimiento libre, previo,
                    expreso e informado del titular&nbsp;de los datos personales
                    para el tratamiento de los mismos, exceptos en los
                    casos&nbsp;expresamente autorizados en la ley, a saber:</span
                >
            </p>
            <p
                class="MsoListParagraphCxSpFirst"
                style="text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >a.<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><span style=""
                    >Información requerida por una entidad pública o
                    administrativa en ejercicio de sus&nbsp;funciones legales o
                    por orden judicial.</span
                >
            </p>
            <p
                class="MsoListParagraphCxSpMiddle"
                style="text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >b.<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><span style="">Datos de naturaleza pública.</span>
            </p>
            <p
                class="MsoListParagraphCxSpMiddle"
                style="text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >c.<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><span style="">Casos de urgencia médica o sanitaria.</span>
            </p>
            <p
                class="MsoListParagraphCxSpMiddle"
                style="text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >d.<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><span style=""
                    >Tratamiento de información autorizado por la ley para fines
                    históricos, estadísticos&nbsp;o científicos.</span
                >
            </p>
            <p
                class="MsoListParagraphCxSpLast"
                style="text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >e.<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><span style=""
                    >Datos relacionados con el Registro Civil de las Personas.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <b><span style="">Manifestación de la autorización</span></b>
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >La autorización a LA EMPRESA para el tratamiento de los
                    datos personales será&nbsp;otorgada por:</span
                >
            </p>
            <p
                class="MsoListParagraphCxSpFirst"
                style="text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >a.<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><span style=""
                    >El titular, quien deberá acreditar su identidad en forma
                    suficiente por los distintos&nbsp;medios que le ponga a
                    disposición LA EMPRESA.</span
                >
            </p>
            <p
                class="MsoListParagraphCxSpMiddle"
                style="text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >b.<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><span style=""
                    >Los causahabientes del titular, quienes deberán acreditar
                    tal calidad.</span
                >
            </p>
            <p
                class="MsoListParagraphCxSpMiddle"
                style="text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >c.<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><span style=""
                    >El representante y/o apoderado del titular, previa
                    acreditación de la&nbsp;representación o apoderamiento.</span
                >
            </p>
            <p
                class="MsoListParagraphCxSpLast"
                style="text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >d.<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><span style=""
                    >Otro a favor o para el cual el titular hubiere estipulado.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <b><span style="">Medios para otorgar la autorización</span></b>
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >LA EMPRESA obtendrá la autorización mediante diferentes
                    medios, entre ellos el&nbsp;documento físico, electrónico,
                    mensaje de datos, Internet, Sitios Web, o en
                    cualquier&nbsp;otro formato que en todo caso permita la
                    obtención del consentimiento mediante&nbsp;conductas
                    inequívocas a través de las cuales se concluya que de no
                    haberse surtido la&nbsp;misma por parte del titular o la
                    persona legitimada para ello, los datos no se
                    hubieran&nbsp;almacenado o capturado en la base de datos.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    ><br /> La autorización será solicitada por LA EMPRESA de manera
                    previa al tratamiento de los&nbsp;datos personales.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <b><span style="">Prueba de la autorización</span></b>
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >LA EMPRESA conservará la prueba de la autorización otorgada
                    por los titulares de los&nbsp;datos personales para su
                    tratamiento, para lo cual utilizará los mecanismos
                    disponibles&nbsp;a su alcance en la actualidad al igual que
                    adoptará las acciones necesarias para&nbsp;mantener el
                    registro de la forma y fecha y en la que obtuvo ésta.
                </span>
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >En consecuencia, LA&nbsp;EMPRESA podrá establecer archivos
                    físicos o repositorios electrónicos realizados
                    de&nbsp;manera directa o a través de terceros contratados
                    para tal fin.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <b><span style="">Revocatoria de la autorización</span></b>
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >Los titulares de los datos personales pueden en cualquier
                    momento revocar la&nbsp;autorización otorgada a LA EMPRESA
                    para el tratamiento de sus datos personales o&nbsp;solicitar
                    la supresión de los mismos, siempre y cuando no lo impida
                    una disposición legal o contractual. LA EMPRESA establecerá
                    mecanismos sencillos y gratuitos que permitan&nbsp;al
                    titular revocar su autorización o solicitar la supresión sus
                    datos personales, al menos&nbsp;por el mismo medio por el
                    que lo otorgó.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >Para lo anterior, deberá tenerse en cuenta que la
                    revocatoria del consentimiento puede&nbsp;expresarse, por
                    una parte, de manera total en relación con las finalidades
                    autorizadas,&nbsp;y por lo tanto LA EMPRESA deberá cesar
                    cualquier actividad De tratamiento de los&nbsp;datos; y por
                    la otra de manera parcial en relación con ciertos tipos de
                    tratamiento, en&nbsp;cuyo caso serán estos sobre los que
                    cesarán las actividades de tratamiento, como para&nbsp;fines
                    publicitarios, entre otros. En este último caso, LA EMPRESA
                    podrá continuar&nbsp;tratando los datos personales para
                    aquellos fines en relación con los cuales el titular
                    no&nbsp;hubiera revocado su consentimiento.</span
                >
            </p>
            <h2
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <b
                    ><span style=""
                        >IX. TRATAMIENTO AL CUAL SERÁN SOMETIDOS LOS DATOS Y
                        FINALIDAD DEL&nbsp;MISMO</span
                    ></b
                >
            </h2>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >El tratamiento de los datos personales de empelados, ex
                    empleados, jubilados,&nbsp;proveedores, contratistas,
                    clientes o de cualquier persona con la cual LA EMPRESA
                    tuviere&nbsp;establecida o estableciera una relación,
                    permanente u ocasional, lo realizará en el marco&nbsp;legal
                    que regula la materia y en virtud de su condición, y serán
                    todos los necesarios para&nbsp;el cumplimiento de la misión
                    Empresarial.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >En todo caso, los datos personales podrán ser recolectados
                    y tratados para:</span
                >
            </p>
            <p
                class="MsoListParagraphCxSpFirst"
                style="text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >a.<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><span style=""
                    >Realizar el envío de información relacionada con programas,
                    actividades,&nbsp;productos y demás bienes o servicios
                    ofrecidos por LA EMPRESA.</span
                >
            </p>
            <p
                class="MsoListParagraphCxSpMiddle"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style="">&nbsp;</span>
            </p>
            <p
                class="MsoListParagraphCxSpMiddle"
                style="text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >b.<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><span style=""
                    >Desarrollar la misión de LA EMPRESA conforme a sus
                    estatutos<br />
                    <br />
                </span>
            </p>
            <p
                class="MsoListParagraphCxSpMiddle"
                style="text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >c.<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><span style=""
                    >Cumplir las normas aplicables a proveedores y contratistas,
                    incluyendo pero sin&nbsp;limitarse a las tributarias y
                    comerciales.
                </span>
            </p>
            <p
                class="MsoListParagraphCxSpMiddle"
                style="text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >d.<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><span style=""
                    >Cumplir lo dispuesto por el ordenamiento jurídico
                    colombiano en materia laboral y&nbsp;de seguridad social,
                    entre otras, aplicables a ex empleados, empleados actuales
                    y&nbsp;candidatos a futuro empleo.</span
                >
            </p>
            <p
                class="MsoListParagraphCxSpMiddle"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style="">&nbsp;</span>
            </p>
            <p
                class="MsoListParagraphCxSpMiddle"
                style="text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >e.<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><span style=""
                    >Realizar encuestas relacionadas con los servicios o bienes
                    de LA EMPRESA.</span
                >
            </p>
            <p class="MsoListParagraphCxSpMiddle">
                <span style="">&nbsp;</span>
            </p>
            <p
                class="MsoListParagraphCxSpMiddle"
                style="text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >f.<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><span style=""
                    >Desarrollar programas conforme a sus estatutos.</span
                >
            </p>
            <p
                class="MsoListParagraphCxSpMiddle"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style="">&nbsp;</span>
            </p>
            <p
                class="MsoListParagraphCxSpMiddle"
                style="text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >g.<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><span style="">Informar sobre oportunidades de empleos</span>
            </p>
            <p class="MsoListParagraphCxSpMiddle">
                <span style="">&nbsp;</span>
            </p>
            <p
                class="MsoListParagraphCxSpLast"
                style="text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >h.<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><span style=""
                    >Cumplir todos sus compromisos contractuales.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >Para el tratamiento de datos personales de niños, niñas y
                    adolescentes se procederá&nbsp;de acuerdo con lo contemplado
                    en la presente política en el aparte relacionado con
                    los&nbsp;derechos de éstos.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <b><span style="">Datos sensibles</span></b>
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >Para el caso de datos personales sensibles, LA EMPRESA
                    podrá hacer uso y&nbsp;tratamiento de ellos cuando:</span
                >
            </p>
            <p
                class="MsoListParagraphCxSpFirst"
                style="text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >a.<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><span style=""
                    >El titular haya dado su autorización explícita, salvo en
                    los casos que por ley no sea&nbsp;requerido el otorgamiento
                    de dicha autorización.</span
                >
            </p>
            <p
                class="MsoListParagraphCxSpMiddle"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style="">&nbsp;</span>
            </p>
            <p
                class="MsoListParagraphCxSpMiddle"
                style="text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >b.<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><span style=""
                    >El tratamiento sea necesario para salvaguardar el interés
                    vital del Titular y este se&nbsp;encuentre física o
                    jurídicamente incapacitado. En estos eventos, los
                    representantes&nbsp;legales deberán otorgar su autorización.</span
                >
            </p>
            <p class="MsoListParagraphCxSpMiddle">
                <span style="">&nbsp;</span>
            </p>
            <p
                class="MsoListParagraphCxSpMiddle"
                style="text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >c.<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><span style=""
                    >El tratamiento sea efectuado en el curso de las actividades
                    legítimas y con las&nbsp;debidas garantías por parte de una
                    fundación, ONG, asociación o cualquier otro&nbsp;organismo
                    sin ánimo de lucro, cuya finalidad sea política, filosófica,
                    religiosa o&nbsp;sindical, siempre que se refieran
                    exclusivamente a sus miembros o a las personas&nbsp;que
                    mantengan contactos regulares por razón de su finalidad. En
                    estos eventos, los&nbsp;datos no se podrán suministrar a
                    terceros sin la autorización del titular.<br />
                    <br />
                </span>
            </p>
            <p
                class="MsoListParagraphCxSpMiddle"
                style="text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >d.<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><span style=""
                    >El Tratamiento se refiera a datos que sean necesarios para
                    el reconocimiento,&nbsp;ejercicio o defensa de un derecho en
                    un proceso judicial.<br />
                    <br />
                </span>
            </p>
            <p
                class="MsoListParagraphCxSpLast"
                style="text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >e.<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><span style=""
                    >El Tratamiento tenga una finalidad histórica, estadística o
                    científica. En este evento&nbsp;deberán adoptarse las
                    medidas conducentes a la supresión de identidad de
                    los&nbsp;titulares.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >Sin perjuicio de las excepciones previstas en la ley, en el
                    tratamiento de datos sensibles&nbsp;se requiere la
                    autorización previa, expresa e informada del titular, la
                    cual deberá ser&nbsp;obtenida por cualquier medio que pueda
                    ser objeto de consulta y verificación posterior.</span
                >
            </p>

            <h2
                class="MsoNormal"
                style="line-height:normal;vertical-align:baseline"
            >
                <b><span style="">X. AVISO DE PRIVACIDAD</span></b>
            </h2>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >El Aviso de Privacidad es el documento físico, electrónico
                    o en cualquier otro formato,&nbsp;puesto a disposición del
                    titular para informarle acerca del tratamiento de sus
                    datos&nbsp;personales. A través de este documento se
                    comunica al titular la información&nbsp;relacionada con la
                    existencia de las políticas de tratamiento de información de
                    LA&nbsp;EMPRESA y que le serán aplicables, la forma de
                    acceder a las mismas y las&nbsp;características del
                    tratamiento que se pretende dar a los datos personales.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >El aviso de privacidad deberá contener, como mínimo, la
                    siguiente información:</span
                >
            </p>
            <p
                class="MsoListParagraphCxSpFirst"
                style="text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >a.<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><span style=""
                    >La identidad, domicilio y datos de contacto del responsable
                    del tratamiento.</span
                >
            </p>
            <p
                class="MsoListParagraphCxSpMiddle"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style="">&nbsp;</span>
            </p>
            <p
                class="MsoListParagraphCxSpMiddle"
                style="text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >b.<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><span style=""
                    >El tipo de tratamiento al cual serán sometidos los datos y
                    la finalidad del mismo.<br />
                    <br />
                </span>
            </p>
            <p
                class="MsoListParagraphCxSpMiddle"
                style="text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >c.<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><span style="">Los derechos del titular.</span>
            </p>
            <p
                class="MsoListParagraphCxSpMiddle"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style="">&nbsp;</span>
            </p>
            <p
                class="MsoListParagraphCxSpMiddle"
                style="text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >d.<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><span style=""
                    >Los mecanismos generales dispuestos por el responsable para
                    que el titular&nbsp;conozca la política de tratamiento de la
                    información y los cambios sustanciales que&nbsp;se produzcan
                    en ella. En todos los casos, debe informar al titular cómo
                    acceder o&nbsp;consultar la política de tratamiento de
                    información.</span
                >
            </p>
            <p class="MsoListParagraphCxSpMiddle">
                <span style="">&nbsp;</span>
            </p>
            <p
                class="MsoListParagraphCxSpLast"
                style="text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >e.<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><span style=""
                    >El carácter facultativo de la respuesta relativa a
                    preguntas sobre datos sensibles.</span
                >
            </p>

            <h2
                class="MsoNormal"
                style="line-height:normal;vertical-align:baseline"
            >
                <b><span style="">XI. GARANTÍAS DEL DERECHO DE ACCESO</span></b>
            </h2>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >Para garantizar el derecho de acceso del titular de los
                    datos, LA EMPRESA pondrá a&nbsp;disposición de éste, previa
                    acreditación de su identidad, legitimidad, o personalidad
                    de&nbsp;su representante, sin costo o erogación alguna, de
                    manera pormenorizada y detallada,&nbsp;los respectivos datos
                    personales a través de todo tipo de medio, incluyendo los
                    medios&nbsp;electrónicos que permitan el acceso directo del
                    titular a ellos. Dicho acceso deberá&nbsp;ofrecerse sin
                    límite alguno y le deben permitir al titular la posibilidad
                    de conocerlos y&nbsp;actualizarlos en línea.</span
                >
            </p>
            <h2
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <b
                    ><span style=""
                        >XII. PROCEDIMIENTO PARA LA ATENCIÓN DE CONSULTAS,
                        RECLAMOS PETICIONES DE RECTIFICACIÓN, ACTUALIZACIÓN Y
                        SUPRESIÓN DE DATOS.</span
                    ></b
                >
            </h2>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <b><span style="">a. Consultas:</span></b>
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >Los titulares o sus causahabientes podrán consultar la
                    información personal del titular&nbsp;que repose en LA
                    EMPRESA, quien suministrará toda la información contenida en
                    el&nbsp;registro individual o que esté vinculada con la
                    identificación del Titular.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    ><br /> Con respecto a la atención de solicitudes de consulta
                    de datos personales LA&nbsp;EMPRESA garantiza:</span
                >
            </p>
            <p
                class="MsoListParagraphCxSpFirst"
                style="text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style="Symbol;"
                    >·<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><span style=""
                    >Habilitar medios de comunicación electrónica u otros que
                    considere pertinentes.<br />
                    <br />
                </span>
            </p>
            <p
                class="MsoListParagraphCxSpMiddle"
                style="text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style="Symbol;"
                    >·<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><span style=""
                    >Establecer formularios, sistemas y otros métodos
                    simplificados, los cuales&nbsp;deberán ser informados en el
                    aviso de privacidad.<br />
                    <br />
                </span>
            </p>
            <p
                class="MsoListParagraphCxSpMiddle"
                style="text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style="Symbol;"
                    >·<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><span style=""
                    >Utilizar los servicios de atención al cliente o de
                    reclamaciones que tiene en&nbsp;operación.<br />
                    <br />
                </span>
            </p>
            <p
                class="MsoListParagraphCxSpMiddle"
                style="text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style="Symbol;"
                    >·<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><span style=""
                    >En cualquier caso, independientemente del mecanismo
                    implementado para la&nbsp;atención de solicitudes de
                    consulta, las mismas serán atendidas en un
                    término&nbsp;máximo de diez (10) días hábiles contados a
                    partir de la fecha de su recibo.<br />
                    <br />
                </span>
            </p>
            <p
                class="MsoListParagraphCxSpMiddle"
                style="text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style="Symbol;"
                    >·<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><span style=""
                    >Cuando no fuere posible atender la consulta dentro de dicho
                    término, se&nbsp;informará al interesado antes del
                    vencimiento de los 10 días, expresando los&nbsp;motivos de
                    la demora y señalando la fecha en que se atenderá su
                    consulta, la&nbsp;cual en ningún caso podrá superar los
                    cinco (5) días hábiles siguientes al&nbsp;vencimiento del
                    primer plazo.</span
                >
            </p>
            <p
                class="MsoListParagraphCxSpMiddle"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style="">&nbsp;</span>
            </p>
            <p
                class="MsoListParagraphCxSpMiddle"
                style="text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style="Symbol;"
                    >·<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><span style=""
                    >Las consultas podrán formularse al correo:
                </span><span style=""
                    ><a href="mailto:administrativa@xpandgroup.co"
                        ><span style="">administrativa@xpandgroup.co</span></a
                    ></span
                ><span style=""> </span>
            </p>
            <p class="MsoListParagraphCxSpMiddle">
                <span style="">&nbsp;</span>
            </p>
            <p
                class="MsoListParagraphCxSpLast"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <b><span style="">&nbsp;</span></b>
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <b><span style="">b. Reclamos</span></b>
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >El Titular o sus causahabientes que consideren que la
                    información contenida en una&nbsp;base de datos debe ser
                    objeto de corrección, actualización o supresión, o
                    cuando&nbsp;adviertan el presunto incumplimiento de
                    cualquiera de los deberes contenidos en la ley,&nbsp;podrán
                    presentar un reclamo ante LA EMPRESA, el cual será tramitado
                    bajo las&nbsp;siguientes reglas:</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >1. El reclamo del titular se formulará mediante solicitud
                    dirigida a LA EMPRESA al&nbsp;correo electrónico&nbsp;</span
                ><span style=""
                    ><a href="mailto:administrativa@xpandgroup.co"
                        ><span style="">administrativa@xpandgroup.co</span></a
                    ></span
                ><span style="">
                    o mediante&nbsp;comunicación escrita dirigida a departamento
                    de sistemas, con la identificación&nbsp;del titular, la
                    descripción de los hechos que dan lugar al reclamo, la
                    dirección, y&nbsp;acompañando los documentos que se quiera
                    hacer valer. Si el reclamo resulta&nbsp;incompleto, se
                    requerirá al interesado dentro de los cinco (5) días
                    siguientes a la&nbsp;recepción del reclamo para que subsane
                    las fallas.
                </span>
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >Transcurridos dos (2) meses&nbsp;desde la fecha del
                    requerimiento, sin que el solicitante presente la
                    información&nbsp;requerida, se entenderá que ha desistido
                    del reclamo. En caso de que quien&nbsp;reciba el reclamo no
                    sea competente para resolverlo, dará traslado a
                    quien&nbsp;corresponda en un término máximo de dos (2) días
                    hábiles e informará de la&nbsp;situación al interesado.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >2. Una vez recibido el reclamo completo, éste se catalogará
                    con la etiqueta&nbsp;«reclamo en trámite» y el motivo del
                    mismo, en un término no mayor a dos (2)&nbsp;días hábiles.
                    Dicha etiqueta se mantendrá hasta que el reclamo sea
                    decidido.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >3. El término máximo para atender el reclamo será de quince
                    (15) días hábiles&nbsp;contados a partir del día siguiente a
                    la fecha de su recibo. Cuando no fuere&nbsp;posible atender
                    el reclamo dentro de dicho término, se informará al
                    interesado&nbsp;los motivos de la demora y la fecha en que
                    se atenderá su reclamo, la cual en&nbsp;ningún caso podrá
                    superar los ocho (8) días hábiles siguientes al vencimiento
                    del primer término.
                </span>
            </p>

            <p
                class="MsoListParagraph"
                style="margin-left:47.4pt;text-align:justify;text-indent:-29.4pt;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >c.<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><b
                    ><span style=""
                        >Petición de actualización y/o rectificación</span
                    ></b
                ><span style="">&nbsp;</span>
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >LA EMPRESA rectificará y actualizará, a solicitud del
                    titular, la información de éste que&nbsp;resulte ser
                    incompleta o inexacta, de conformidad con el procedimiento y
                    los términos</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >antes señalados, para lo cual se tendrá en cuenta:</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >1. El titular deberá allegar la solicitud al correo
                    electrónico&nbsp;</span
                ><span style=""
                    ><a href="mailto:administrativa@xpandgroup.co"
                        ><span style="">administrativa@xpandgroup.co</span></a
                    ></span
                ><span style="">
                    o&nbsp;en medio físico dirigido al&nbsp;departamento de
                    sistemas indicando la actualización y/o rectificación a
                    realizar&nbsp;y aportará la documentación que sustente su
                    petición.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >2. LA EMPRESA podrá habilitar mecanismos que le faciliten
                    el ejercicio de este&nbsp;derecho al titular, siempre y
                    cuando éstos lo beneficien. En consecuencia, se&nbsp;podrán
                    habilitar medios electrónicos u otros que considere
                    pertinentes, los&nbsp;cuales serán informados en el aviso de
                    privacidad y se pondrán a disposición de&nbsp;los
                    interesados en la página web.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <b><span style="">d. Petición de supresión de datos</span></b>
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >El titular de los datos personales tiene el derecho de
                    solicitar a LA EMPRESA su&nbsp;supresión (eliminación) en
                    cualquiera de los siguientes eventos:</span
                >
            </p>
            <p
                class="MsoListParagraphCxSpFirst"
                style="text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >1.<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><span style=""
                    >Considere que los mismos no están siendo tratados conforme
                    a los principios,&nbsp;deberes y obligaciones previstas en
                    la normatividad vigente.</span
                >
            </p>
            <p
                class="MsoListParagraphCxSpMiddle"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style="">&nbsp;</span>
            </p>
            <p
                class="MsoListParagraphCxSpMiddle"
                style="text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >2.<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><span style=""
                    >Hayan dejado de ser necesarios o pertinentes para la
                    finalidad para la cual&nbsp;fueron recabados.</span
                >
            </p>
            <p class="MsoListParagraphCxSpMiddle">
                <span style="">&nbsp;</span>
            </p>
            <p
                class="MsoListParagraphCxSpLast"
                style="text-align:justify;text-indent:18.0pt;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >3.<span style="font:7.0pt "
                        >&nbsp;&nbsp;&nbsp;&nbsp;
                    </span></span
                ><span style=""
                    >Se haya superado el periodo necesario para el cumplimiento
                    de los fines para&nbsp;los que fueron recabados.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    ><br /> Esta supresión implica la eliminación total o parcial
                    de la información personal de&nbsp;acuerdo con lo solicitado
                    por el titular en los registros, archivos, bases de datos o&nbsp;tratamientos
                    realizados por LA EMPRESA. Sin embargo, este derecho del titular
                    no es&nbsp;absoluto y en consecuencia LA EMPRESA podrá negar
                    el ejercicio del mismo cuando:</span
                >
            </p>
            <p
                class="MsoListParagraphCxSpFirst"
                style="margin-left:35.45pt;text-align:justify;text-indent:-14.15pt;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >a.<span style="font:7.0pt ">&nbsp;&nbsp;</span></span
                ><span style=""
                    >El titular tenga un deber legal o contractual de permanecer
                    en la base de datos.</span
                >
            </p>
            <p
                class="MsoListParagraphCxSpMiddle"
                style="margin-left:35.45pt;text-align:justify;text-indent:-14.15pt;line-height:normal;vertical-align:baseline"
            >
                <span style="">&nbsp;</span>
            </p>
            <p
                class="MsoListParagraphCxSpMiddle"
                style="margin-left:35.45pt;text-align:justify;text-indent:-14.15pt;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >b.<span style="font:7.0pt ">&nbsp;&nbsp;</span></span
                ><span style=""
                    >La eliminación de datos obstaculice actuaciones judiciales
                    o administrativas&nbsp;vinculadas a obligaciones fiscales,
                    la investigación y persecución de delitos o
                    la&nbsp;actualización de sanciones administrativas.</span
                >
            </p>
            <p
                class="MsoListParagraphCxSpLast"
                style="margin-left:35.45pt;text-align:justify;text-indent:-14.15pt;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >c.<span style="font:7.0pt ">&nbsp;&nbsp;</span></span
                ><span style=""
                    ><br /> Los datos sean necesarios para proteger los intereses
                    jurídicamente tutelados&nbsp;del titular; para realizar una acción
                    en función del interés público, o para cumplir&nbsp;con una obligación
                    legalmente adquirida por el titular.</span
                >
            </p>

            <h2
                class="MsoNormal"
                style="line-height:normal;vertical-align:baseline"
            >
                <b
                    ><span style=""
                        >XIII. REGISTRO NACIONAL DE BASE DE DATOS</span
                    ></b
                >
            </h2>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >LA EMPRESA, se reserva, en los eventos contemplados en la
                    ley y en sus estatutos y&nbsp;reglamentos internos, la
                    facultad de mantener y catalogar determinada información
                    que&nbsp;repose en sus bases o bancos de datos, como
                    confidencial de acuerdo con las normas&nbsp;vigentes, sus
                    estatutos y reglamentos, todo lo anterior y en consonancia
                    con el derecho&nbsp;fundamental y constitucional.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >LA EMPRESA, procederá de acuerdo con la normatividad
                    vigente y la reglamentación&nbsp;que para tal fin expida el
                    Gobierno Nacional, a realizar el registro de sus bases de
                    datos,&nbsp;ante El Registro Nacional de Bases de Datos
                    (RNBD) que será administrado por la&nbsp;Superintendencia de
                    Industria y Comercio.
                </span>
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >El RNBD, es el directorio público de las&nbsp;bases de
                    datos sujetas a tratamiento que operan en el país; y que
                    será de libre consulta&nbsp;para los ciudadanos, de acuerdo
                    con la normatividad que para tal efecto expida
                    el&nbsp;Gobierno Nacional.</span
                >
            </p>

            <h2
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <b
                    ><span style=""
                        >XIV. SEGURIDAD DE LA INFORMACIÓN Y MEDIDAS DE SEGURIDAD</span
                    ></b
                >
            </h2>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >Dando cumplimiento al principio de seguridad establecido en
                    la normatividad vigente,&nbsp;LA EMPRESA adoptará las
                    medidas técnicas, humanas y administrativas que
                    sean&nbsp;necesarias para otorgar seguridad a los registros
                    evitando su adulteración, pérdida,&nbsp;consulta, uso o
                    acceso no autorizado o fraudulento.</span
                >
            </p>
            <h2
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style="text-transform: uppercase;">
                    <b
                        >XV. utilización y transferencia internacional de
                        datos&nbsp;personales e información personal por parte
                        de la empresa</b
                    ></span
                >
            </h2>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >En cumplimiento de la misión institucional y del plan
                    estratégico de LA&nbsp;EMPRESA, y atendiendo a la naturaleza
                    de las relaciones permanentes u ocasionales&nbsp;que
                    cualquier persona titular de datos personales pueda tener
                    para con LA EMPRESA,&nbsp;ésta podrá realizar la
                    transferencia y transmisión, incluso internacional, de la
                    totalidad&nbsp;de los datos personales, siempre y cuando se
                    cumplan los requerimientos legales&nbsp;aplicables; y en
                    consecuencia los titulares con la aceptación de la presente
                    política,&nbsp;autorizan expresamente para transferir y
                    transmitir, incluso a nivel internacional, los&nbsp;datos
                    personales. Los datos serán transferidos, para todas las
                    relaciones que puedan&nbsp;establecerse con LA EMPRESA.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >Para la transferencia internacional de datos personales de
                    los titulares,&nbsp;LA EMPRESA&nbsp;tomará las medidas
                    necesarias para que los terceros conozcan y se comprometan
                    a&nbsp;observar la presente política, bajo el entendido que
                    la información personal que reciban,&nbsp;únicamente podrá
                    ser utilizada para asuntos directamente relacionados con
                    LA&nbsp;EMPRESA y solamente mientras ésta dure y no podrá
                    ser usada o destinada para&nbsp;propósito o fin diferente.
                    Para la transferencia internacional de datos personales
                    se&nbsp;observará lo previsto en el artículo 26 de la Ley
                    1581 de 2012.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >Las transmisiones internacionales de datos personales que
                    efectúe LA EMPRESA, no&nbsp;requerirán ser informadas al
                    titular ni contar con su consentimiento cuando medie
                    un&nbsp;contrato de transmisión de datos personales de
                    conformidad al artículo 25 del Decreto&nbsp;1377 de 2013.</span
                >
            </p>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >LA EMPRESA, también podrá intercambiar información personal
                    con autoridades gubernamentales o públicas de otro tipo
                    (incluidas, entre otras autoridades judiciales o
                    administrativas, autoridades fiscales y organismos de
                    investigación penal, civil, administrativa, disciplinaria y
                    fiscal), y terceros participantes en procedimientos legales
                    civiles y sus contadores, auditores, abogados y otros
                    asesores y representantes, porque es necesario o apropiado:
                    (a) para cumplir con las leyes vigentes, incluidas las leyes
                    distintas a las de su país de residencia; (b) para cumplir
                    con procesos jurídicos; (c) para responder las solicitudes
                    de las autoridades públicas y del gobierno, y para responder
                    las solicitudes de las autoridades públicas y del gobierno
                    distintas a las de su país de residencia; (d) para hacer
                    cumplir nuestros términos y condiciones; (e) para
                    proteger&nbsp;nuestras operaciones; (f) para proteger
                    nuestros derechos, privacidad, seguridad o&nbsp;propiedad,
                    los suyos o los de terceros; y (g) obtener las
                    indemnizaciones aplicables o&nbsp;limitar los daños y
                    perjuicios que nos puedan afectar.</span
                >
            </p>
            <h2
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <b
                    ><span style=""
                        >XVI. RESPONSABLE Y ENCARGADO DEL TRATAMIENTO DE
                        DATOS&nbsp;PERSONALES</span
                    ></b
                >
            </h2>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >LA EMPRESA será la responsable del tratamiento de los datos
                    personales.<br /> El departamento de sistemas será el encargado
                    del tratamiento de los datos personales,&nbsp;por cuenta de LA
                    EMPRESA.</span
                >
            </p>
            <h2
                class="MsoNormal"
                style="line-height:normal;vertical-align:baseline"
            >
                <b><span style="">XVII. VIGENCIA</span></b>
            </h2>
            <p
                class="MsoNormal"
                style="text-align:justify;line-height:normal;vertical-align:baseline"
            >
                <span style=""
                    >La presente política rige a partir del 01 de enero de 2024
                    y deja sin efectos los&nbsp;reglamentos o manuales
                    especiales que se hubiesen podido aportar en la EMPRESA.</span
                >
            </p>

            <p class="MsoNormal"><span style="">&nbsp;</span></p>
        </div>
    </div>
</section>
<script>
    window.addEventListener("scroll", function () {
        var content = document.getElementById("contrato");
        var scrollPosition = window.scrollY;
        const windowHeight = window.innerHeight;
        const documentHeight = document.body.clientHeight;

        const scrollPercentage =
            (scrollPosition / (documentHeight - windowHeight)) * 100;

        // if (scrollPercentage > 50) {
        //     content.classList.remove("bg-1");
        //     content.classList.add("bg-2");
        // } else {
        //     content.classList.remove("bg-2");
        //     content.classList.add("bg-1");
        // }
    });
</script>
