---
import ButtonForm from "./react/buttonForm";
import Title from "./title.astro";
import CarrouselMobile from "./react/carrousel/mobile"
---

<section class="bg-white">
    <div
        class="max-w-[1300px] m-auto py-[50px] px-8 md:py-[130px] md:px-[68px] flex flex-col items-center"
    >
        <Title className="mb-12 text-center">
            Únete a la lista exclusiva de empresarios que están creando el
            futuro
        </Title>
        <p
            class="font-ibm text-xp-base  text-lg sm:text-2xl mb-12 sm:max-w-[80%] text-balance text-center"
        >
            &lt; Casos de éxito: Inspiración que transforma industrias &gt;
        </p>
        <CarrouselMobile />
        <ButtonForm
            client:visible
            label="Transforma tu empresa con nosotros > "
        >
            Transforma tu futuro hoy, agenda ya &gt;
        </ButtonForm>
    </div>
</section>
